MONGO_URI=<YOUR MONGODB CONNECTION STRING>
JWT_SECRET=2J8zqkP7VN6bxzg+Wy7DQZCA3Yx8mF3Bl0kch6HYtFs=
PORT=5001

# admin credentials
ADMIN_NAME=System Admin
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=Admin@123